<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Risk</th>
      <th>Threat Agent</th>
      <th>Threat Agent factor</th>
      <th>Vulnerability factor</th>
      <th class="bg-secondary">Likelihood</th>
      <th>Technical Impact</th>
      <th class="bg-secondary">Business Impact</th>
      <th class="bg-secondary">Severity</th>
    </tr>
  </thead>
  <tbody>
  <% risks.each do |risk| %>
    <tr>
      <td><%= link_to "##{risk.id}", risk %></td>
      <td><%= link_to risk.vulnerability.name, risk %></td>
      <td><%= link_to risk.threat_agent.name, risk.threat_agent rescue '?' %> </td>
      <td class="<%= score_class(risk, :threat_agent_likelihood) %>"><%= score_desc(risk, :threat_agent_likelihood) %></td>
      <td class="<%= score_class(risk, :vf_likelihood) %>"><%= score_desc(risk, :vf_likelihood) %></td>
      <td class="<%= score_class(risk, :likelihood, true) %>"><%= score_desc(risk, :likelihood) %></td>
      <td class="<%= score_class(risk, :technical_impact) %>"><%= score_desc(risk, :technical_impact) %></td>
      <td class="<%= score_class(risk, :business_impact, true) %>"><%= score_desc(risk, :business_impact) %></td>
      <td class="fw-bold bg-<%= severity_class_name(risk.severity) %>"><%= severity_desc(risk, :severity) %></td>
    </tr>
  <% end %>
  </tbody>
</div>