<div id="<%= dom_id threat_agent %>">
  <p>
    <strong>Name:</strong>
    <%= threat_agent.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= threat_agent.desc %>
  </p>

  <p>
    <strong>Skill:</strong>
    <%= threat_agent.skill_id %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= threat_agent.size_id %>
  </p>

</div>
